---
import Layout from "../layouts/Layout.astro";
import NextCard from "../components/NextCard";
import Card from "../components/Card.astro";
import Navbarr from "../components/Navbar.tsx";
import Hero from "../components/Hero";
---

<Layout title="Karol Wisniewski">
  <main>
    <Navbarr>
      <!-- <NextCard client:visible header="Header" /> -->
    </Navbarr>]
    <Hero />
  </main>
</Layout>
