---
import Layout from "../layouts/Layout.astro";
import NextCard from "../components/NextCard";
import Card from "../components/Card.astro";
import Navbarr from "../components/Navbar.tsx";
---

<Layout title="Karol Wisniewski">
  <main>
    <p class="text-red-600 group-hover:text-red">Astro</p>
		<Navbarr>
<p class="text-xl text-cyan-500">chuj</p>
    <!-- <NextCard client:visible header="Header" /> -->
  </main>
</Layout>
