---
import Layout from "../layouts/Layout.astro";
import NextCard from "../components/NextCard";
import Card from "../components/Card.astro";
---

<Layout title="Karol Wisniewski">
  <main>
    <NextCard client:visible header="Header" />
  </main>
</Layout>
